name: Build release zip

on:
  push:
    branches:
    # - trunk
    - main

jobs:
  build:
    name: Build release zip
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build plugin # Remove or modify this step as needed
      # composer install --no-dev
      run: |
        npm install
        npm run build
        
    - name: Create ZIP
      run: |
        echo "➤ Generating zip file..."
        zip -r "${GITHUB_WORKSPACE}/${GITHUB_REPOSITORY#*/}.zip" .
        echo "zip-path=${GITHUB_WORKSPACE}/${GITHUB_REPOSITORY#*/}.zip" >> "${GITHUB_OUTPUT}"
        echo "✓ Zip file generated!"
